@model IPagedList<AdvertisingPortal.ModelView.AdvertisementMV>

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form method="get" asp-action="Index">
    <div class="form-group row col-md-12">
        <div class="col-md-3">
            <input type="text" name="search" class="form-control" />
        </div>
        <div class="col-md-2">
            <button type="submit" value="Search" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-3.5 p-4 m-1" style="background-color: aquamarine">
            <div class="card-img-top">
                <img src="~/images/@item.ImageUrl" width="300" height="200">
            </div>
            <div class="col-md-12 card-body">
                <h5 class="card-title">@item.Title</h5> <br />
                @item.Make @item.Model <br />
                Price: @item.Price <br />
                Year: @item.Year.Year <br />
                FuelTank: @item.FuelTank <br />
                FuelType: @item.FuelType <br />
                Description: @item.Description <br />
            </div>
            <div>
                <button class="btn btn-dark col-md-12">View details</button>
            </div>
                
        </div>
    }
</div>

@Html.PagedListPager(Model, i => Url.Action("Index", new { i, search = Context.Request.Query["search"] }), new PagedListRenderOptionsBase
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    Display = PagedListDisplayMode.IfNeeded
})
